* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* share styles  */
.pinkBg {
  background: rgba(229, 84, 115, 0.1);
}

.btnPrimary {
  border-radius: 0.3125rem;
  background: #e55473;
  border: 0;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.headingStyle {
  color: #272727;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* main css starts  */

/* header section starts  */
.headerSection {
  margin-bottom: 60px;
}

.headerSectionWrapper {
  /* background-color: rgb(225, 101, 101); */
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  margin: auto;
}

.headerLeft {
  /* background-color: rgb(245, 174, 92); */
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerLeftWrapper {
  /* background-color: aqua; */
  width: 85%;
  margin: auto;
}

.headerHeading {
  font-size: 22px;
  /* background-color: red; */
  margin-bottom: 10px;
}

.headerDescription {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 10px;
}

.headBtn {
  padding: 11px 20px;
}

.headerRight {
  /* background-color: rgb(133, 235, 61); */
  width: 50%;
  display: flex;
  justify-content: center;
}

.headRightImg {
  width: 400px;
  height: 460px;
  padding-top: 20px;
  margin-right: 50px;
}

.headRightImg img {
  height: 100%;
  width: 100%;
}

/* header section ends  */

/* featured flower starts  */
.featuredFlower {
  /* background-color: antiquewhite; */
  margin-bottom: 60px;
}

.featuredFlowerWrapper {
  /* background-color: rgb(85, 202, 252); */
  width: 84%;
  margin: auto;
}

.featuredTopeHeading {
  /* background-color: rgb(191, 241, 63); */
  font-size: 17px;
  text-align: center;
  margin-bottom: 8px;
}

.featuredTopPara {
  /* background-color: aquamarine; */
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  width: 45%;
  margin: auto;
  margin-bottom: 28px;
}

.featuredCard {
  /* background-color: rgb(244, 255, 29); */
  display: flex;
  justify-content: space-between;
}

/* .card1 { */
.commonCard {
  width: 355px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.card1 {
  background: rgba(167, 33, 98, 0.15);
}
.card2 {
  background: rgba(5, 151, 160, 0.15);
}
.card3 {
  background: rgba(71, 125, 17, 0.15);
}

.cardWrapper {
  width: 50%;
  height: 84%;
}

.cardWrapper img {
  height: 100%;
  width: 100%;
}

.cardWrapper {
}

/* featured flower ends */

/* icon section starts  */

.iconSection {
  /* background-color: aquamarine; */
  margin-bottom: 60px;
}

.iconSectionWrapper {
  /* background-color: bisque; */
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  width: 85%;
  margin: auto;
}

.iconSectionContent {
  /* background-color: rgb(246, 224, 81); */
  width: 85%;
  margin: auto;
  padding: 40px 10px;
  display: flex;
  justify-content: space-evenly;
}

.iconcard {
  /* background-color: darkkhaki; */
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconCardTop {
  /* background-color: red; */
  margin-bottom: 6px;
  width: 68px;
  height: 68px;
}

.iconCardTop img {
  width: 100%;
  height: 100%;
}

.iconCardBottom {
  color: rgba(39, 39, 39, 0.8);
  font-size: 15px;
}

/* icon section starts  */
